<ion-view view-title="REALIZAR DENUNCIA">
  <ion-content>
    <ion-list>
        <div class="item item-text-wrap"  ng-controller="DeviceController">{{"Requisito:"}}
        </div>
        
        <div class="item item-text-wrap"  ng-controller="GeolocationCtrl">{{"* Verifique su conexion a internet."}}
        </div>
        <div class="item item-text-wrap" ng-controller="PhoneCtrl">
          <span class="input-label">Numero de celular:</span>
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Ejm: 71400927" ng-model="numero">
            </label>
            <button class="button button-small button-calm" ng-click="addNumero(numero)">confirmar numero</button>
          </div>
        </div>

        <div class="list card" ng-controller="camaraCtrl">
           <div class="item">
            <center>
            <button class="button icon-left ion-camera button-assertive" ng-click="takePhoto()">
                Indispensable Tomar Foto
              </button>
            </center>
           </div>
           <center>
            
              <img height="200" width="200" ng-show="imgURI !== undefined"  ng-src="{{imgURI}}" style="text-align: center" >
              <!--div ng-repeat="foto in fotos">{{foto}}</div-->
          </center>
        </div>

        <div class="list card" ng-controller="GeolocationCtrl">
          <label class="item item-input" >
           <span class="input-label">Describa su denuncia:</span>
            <input type="text" placeholder="Ej. mi casa se quema" ng-model="textoss">
          </label>
          <div class="list card" ng-controller="envia">
             <!--div class="item3"-->
             <center>
              <button class="button icon-left ion-android-share button-positive" ng-controller="envia" ng-click="enviarDatos()">Confirme su denuncia</button>
             </center>
             <!--/div-->
          </div> 
        </div>

     </ion-list>
  </ion-content>
</ion-view>
